.flexCenter {
  display: flex;
  justify-content: center;
}
.flexRound {
  display: flex;
  justify-content: space-around;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
h1 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 20px;
}
h2 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
h3 {
  font-family: 'Amatic SC', cursive;
  color: #604d53;
  font-size: 3.3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
h4 {
  font-family: 'Amatic SC', cursive;
  color: #604d53;
  font-size: 5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}
@media (max-width: 500px) {
  h4 {
    padding-top: 20px;
  }
}
nav {
  padding-top: 30px;
  border-top: 3px dotted #604d53;
}
nav .nav-items {
  display: flex;
  justify-content: center;
  color: #604d53;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 55px;
  padding-left: 30px;
  font-family: 'Amatic SC', cursive;
}
@media (max-width: 500px) {
  nav .nav-items {
    padding-top: 10px;
    display: inline;
  }
}
nav .nav-items:hover {
  color: white;
}
a:link {
  text-decoration: none;
}
footer {
  background: #604d53;
  padding: 20px 0;
  width: 100%;
}
footer p {
  color: white;
  font-size: 2.1rem;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  padding-left: 350px;
}
@media (max-width: 500px) {
  footer p {
    padding-left: 30px;
  }
}
.wrapsBoth {
  width: 100%;
}
.wrapsBoth .sidebar {
  background-color: #9da3a4;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 0px;
  height: 100%;
  line-height: 1.2;
  border-right: 3px dotted #604d53;
  position: fixed;
}
@media (max-width: 500px) {
  .wrapsBoth .sidebar {
    flex-direction: row-reverse;
    justify-content: center;
    height: 10%;
    width: 100%;
    padding-bottom: 5px;
    border-right: none;
    position: relative;
  }
}
@media (max-width: 500px) {
  .fading-photos {
    display: none;
  }
}
.social-media {
  padding-top: 60px;
}
@media (max-width: 500px) {
  .social-media {
    display: none;
  }
}
.social-media .Icons {
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.pinkBackground {
  display: none;
}
@media (max-width: 500px) {
  .pinkBackground {
    display: inline;
    height: 250px;
    width: 100%;
  }
}
.main-content {
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .main-content {
    height: 40%;
  }
}
.main-content .hair {
  width: 100%;
  height: 900px;
}
.Info_section {
  padding-left: 300px;
  padding-right: 20px;
  padding-top: 0px;
}
@media (max-width: 500px) {
  .Info_section {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
  }
}
.Info_section p {
  padding-left: 100px;
  padding-right: 20px;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .Info_section p {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0px;
    font-size: 1.5rem;
  }
}
.teamPhotos {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 100px;
}
@media (max-width: 500px) {
  .teamPhotos {
    display: none;
  }
}
.teamPhotos .team {
  border-radius: 20%;
}
.names_titles {
  display: flex;
  justify-content: space-between;
  padding-left: 85px;
}
@media (max-width: 500px) {
  .names_titles {
    flex-direction: column;
    padding-left: 10px;
  }
}
.teamPhoto {
  display: none;
}
@media (max-width: 500px) {
  .teamPhoto {
    display: inline;
    height: 250px;
    width: 100%;
  }
}
