html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 20px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Amatic SC', cursive;
  color: #604d53;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
