.wrapsBoth {
  display: flex;
  width: 100%;

  .sidebar {
    background-color: @bg-color;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 0px;
    padding-bottom: 400px;
    line-height: 1.2;
    border-right: 3px dotted @main-color;
    position: fixed;
  }
}

.social-media {
  padding-top: 60px;

  .Icons {
    font-size: 50px;
    text-align: center;
  }
}

.main-content {
  width: 100%;
  padding-bottom: 30px;

  .hair {
    width: 100%;
  }
}

.Info-section {
  padding-left: 400px;
  padding-right: 20px;

  .Info-section p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  }
}
