nav {
  border-top: 3px dotted @main-color;

  .nav-items {
    color: @main-color;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-left: 30px;
    font-family: @mainFont;

    &:hover {
      color: white;
    }
  }
}

a:link {
  text-decoration: none;
}
