nav {
  border-top: 3px dotted #604d53;

  .nav-items {
    color: #604d53;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-left: 30px;
    font-family: 'Amatic SC', cursive;

    .nav-items:hover {
      color: white;

      a:link {
        text-decoration: none;
      }
    }
  }
}
